<?xml version="1.0"?>
<!-- Name your robot here -->
<robot name ="robot_urdf" xmlns:xacro="http://wiki.ros.org/xacro">

<!-- Include your urdf files here -->
	<!-- Include Robot's urdf filepath -->
	<!-- Include Lidar's urdf filepath -->
	<xacro:include filename="./urdf/robot_urdf.urdf"/>
	<xacro:include filename="./urdf/ydlidar.urdf"/>

<!-- Add your gazebo sensors here -->
	

<!--  Gazebo plugin for control here is already added for you -->
	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/robot_urdf</robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			<legacyModeNS>true</legacyModeNS>
		</plugin>
	</gazebo>


<!-- Create a joint between your robot and sensor -->
	<joint
    name="sensor_joint"
    type="fixed">
    <parent
      link="dummy_link" />
    <child
      link="base_laser" />
	</joint>  
</robot>