<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot
  name="robot_urdf">

  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

  <material name="black">
      <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="dark">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>

  <gazebo reference="base_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="w_rear_right">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="w_rear_left">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="w_front_right">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="w_front_left">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <link
    name="dummy_link">
  </link>
  <joint
    name="dummy_joint"
    type="fixed">
    <parent
      link="dummy_link" />
    <child
      link="base_link" />
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00011795 -1.3106E-06 0.0254"
        rpy="0 0 0" />
      <mass
        value="24.944" />
      <inertia
        ixx="0.54582"
        ixy="1.495E-05"
        ixz="-5.262E-18"
        iyy="1.9465"
        iyz="5.8233E-18"
        izz="2.4817" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/base_link.STL" />
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="w_rear_right">
    <inertial>
      <origin
        xyz="-0.4191 -0.3002 0.0254"
        rpy="0 0 0" />
      <mass
        value="2.1167" />
      <inertia
        ixx="0.0076561"
        ixy="-2.6772E-15"
        ixz="-2.1087E-15"
        iyy="0.014045"
        iyz="6.0961E-16"
        izz="0.0076561" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/w_rear_right.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/w_rear_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j_rear_right"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="w_rear_right" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="w_rear_left">
    <inertial>
      <origin
        xyz="-0.4191 0.3002 0.0254"
        rpy="0 0 0" />
      <mass
        value="2.1167" />
      <inertia
        ixx="0.0076561"
        ixy="-1.7667E-15"
        ixz="-1.2431E-13"
        iyy="0.014045"
        iyz="1.3261E-15"
        izz="0.0076561" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/w_rear_left.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/w_rear_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j_rear_left"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="w_rear_left" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="w_front_right">
    <inertial>
      <origin
        xyz="0.4191 -0.3002 0.0254"
        rpy="0 0 0" />
      <mass
        value="2.1167" />
      <inertia
        ixx="0.0076561"
        ixy="2.4488E-15"
        ixz="-8.1881E-14"
        iyy="0.014045"
        iyz="-1.1757E-15"
        izz="0.0076561" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/w_front_right.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/w_front_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j_front_right"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="w_front_right" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="w_front_left">
    <inertial>
      <origin
        xyz="0.4191 0.3002 0.0254"
        rpy="0 0 0" />
      <mass
        value="2.1167" />
      <inertia
        ixx="0.0076561"
        ixy="2.7121E-15"
        ixz="1.2081E-13"
        iyy="0.014045"
        iyz="8.743E-16"
        izz="0.0076561" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/w_front_left.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/w_front_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j_front_left"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="w_front_left" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="30"
      velocity="30" />
  </joint>
</robot>